* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  margin-bottom: 120px;
}

.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight{
  margin-left: 20px;
}

.app__header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.app__headerImage{
  object-fit: contain;
}

.app__signup{
  display: flex;
  flex-direction: column;
}