.post {
    background-color: white;
    width: 100%;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__text {
    font-weight: normal;
    padding: 20px;
}

.post__header {
    display: flex;
    padding: 20px;
    align-items: center;
}

.post__avatar {
    margin: 10px;
    float: left;
}

.post__username  {
    /* margin-top: 18px; */
}